<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hipster Coffee Till</title>

    <!-- Library Files-->
    <script src="../lib/jquery-3.3.1.js" charset="utf-8"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!--  Source Files-->
    <script src="../src/coffeeList.js" charset="utf-8"></script>
    <script src="../src/orders.js" charset="utf-8"></script>
    <script src="../src/till.js" charset="utf-8"></script>
    <script src="../src/products.js" charset="utf-8"></script>
    <script src="../src/receipt.js" charset="utf-8"></script>
    <script src="../src/total.js" charset="utf-8"></script>
    <script src="../src/tax.js" charset="utf-8"></script>
    <script src="../src/receipt.js" charset="utf-8"></script>
    <script src="../src/payments.js" charset="utf-8"></script>
    <script src="../src/discount.js" charset="utf-8"></script>
    <script src="../src/tillInterface.js" charset="utf-8"></script>

   <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/bulma.css">

  </head>
  <body>

  <section class="section">
    <div class="container">
      <h1 class="title">
        The Hipster Till
      </h1>
      <p class="subtitle">
        Serving hipsters since <strong>2018</strong>!
      </p>
    </div>
  </section>

  <div class="container">
      <div class="columns">
        <div class="column">
          Items
          <div class="item-div">

          </div>
        </div>
        <div class="column">
          Basket
        </div>
        <div class="column">
          Number Pad
        </div>
      </div>
  </div>






  </body>
</html>
